.news-card {
    background-color: #e8e3e2;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    position: relative;
    word-wrap: break-word; 
    min-height: 100px;
    margin-bottom: 20px;
}
